
<div class="background">
    <div class="container mt-5">
        <h1>Libreria</h1>
        <h2>Si deseas encontrar, eliminar, o agregar un libro aqui podras hacerlo</h2>
    </div> 
 </div>
 <div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100" style="width: 100%;" >
                <div class="card-body">
                  <h5 class="card-title stretched-link">Buscar libros</h5>
                  <p>Buscar todos los libros disponibles, o filtrarlos por sus caracteristicas</p>
                  <a routerLink="/listalibros" class="btn bg-transparent stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Agregar libros</h5>
                  <p>Agregar nuevos libros a la libreria</p>
                  <a routerLink="/agregarlibros" class="btn bg-transparent stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
 </div>